<div class="container bg">
  <h1>Eat Dat Burger!</h1>

  <div class="row">
    <div class="col-sm-6">
      <h2>Burgers that are Available to Eat!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          {{this.id}} {{this.burger_name}}

          <button class="change-status" data-id="{{id}}" data-newburger="true">DEVOUR!!</button>

        </li>
        {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div id="devoured" class="col-sm-6">
      <h2>Burgers that are Devoured!</h2>

      {{#each burgers}}
      {{#if devoured}}
      <li>
        {{this.id}} {{this.burger_name}}

      </li>
      {{/if}}
      {{/each}}
    </div>

  </div>

  <div class="row">
    <div class="center col-sm-12 col-lg-12">
      <h2>Add a Burger</h2>

      <form class="create-form">
        <div class="form-group">
          <p> Enter a burger you want to order and click the Submit Order button. </p>
          <textarea id="burger_name" name="burger_name"> </textarea>
        </div>
        <button class="btn-primary" type="submit">Submit Order</button>
      </form>

    </div>
  </div>

</div>


